body{
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("background.png");
	background-repeat: repeat-x;
}
nav ul li {
	display: inline;
	list-style-type: none;
}
nav ul li a:hover{
	background-color: #369;
	color: #fff;
}
p {
	margin-top: 5px;
}
.title {
	text-align: right;
}
.main {
	/* You can set the margin property to auto to horizontally center the element within its container.
	The element will then take up the specified width,
	and the remaining space will be split equally between the left and right margins: */
	margin: auto;
	width:80%;
}
.copyright {
	font-size: small;
	margin-top: 10pt;
	text-align: center;
}
